<% include header %>

<div class="container">

  <h2>About</h2>

<img src="/images/myndafmer.jpg" alt="Lísa" height="42" width="42">

<blockquote class="text-left">
 Inngangur
 <br>
Ég valdi að gera spjallborð sem lokaverkefni í Vefforritun, fyrst og fremst vegna þess að mér fannst verkefnið hafa raunhæfa notkunarmöguleika. Verkefnið er í grunninn einfalt og leyfir mér því að læra á nýja hluti sem voru bæði krefjandi og skemmtilegir, en munu jafnframt gagnast mér í framtíðinni.
<br>

Meginmál
<br>
Framendi
<br>
Í framendan notaði ég EJS JavaScript template. Það er einfalt sniðmátsmál með áherslu á frammistöðu. Það er með skýrt markup og því ekki hægt að hafa ljótan texta, eða vitlausa uppsetningu á kóða, málið einfaldlega leyfir það ekki.  Einnig er auðvelt að debugga í þessu templatei. 
<br>
	Bootstrap notaði ég svo til að útlit síðunnar sé skalanlegt. Þannig skiptir ekki máli stærð gluggans, upp kemur alltaf þægilegt og notendavæn uppsetning á vefsíðunni. Einnig hjálpar Bootstrap við að gera síðuna nothæfa í snjallsímum
	Javascript notaði ég fyrir flestar takkaaðgerðir, eins og “svara”, “eyða” og þess háttar. Einnig kalla ég á bakendann með Javascript.
	<br>
Bakendi
<br>
Bakendinn er settur upp í Express forritunarumhverfinu. Gagnagrunninn setti ég upp sjálf með PostgreSQL, í staðinn fyrir að setja upp local storage gagnagrunn, því þá getur notandinn ekki óvart eytt og/eða breytt hlutum með því t.d. að loka vafranum. PGAdmin notum við svo til aðstoðar við gagnagrunninn, almennt viðhald og uppfærslu.
Til að stuðla að öryggi þá erum við með dukólun á password notenda.
<br>
Lokaorð
<br>
Verkefnið gekk almennt mjög vel. Ég hefði viljað meiri tíma fyrir það en það er soldið erfitt með lokaprófin handan við hornið. Það hefði verið gaman að fikta aðeins með þetta og gera útlitið skemmtilegra en meiri tími fór í bakendann og gagnagrunns tenginguna svo einhverju þurfti að fórna. Annars var þetta lærdómsríkt og skemmtilegt verkefni. 
</blockquote> 
</div>

<% include footer %>

