<% include header %>

<div class="container text-center">
	<h2>About</h2>
		<div class="col-sm-3"> </div>
		<div class="col-sm-6 text-center">
			<h3> HæHæ þetta er lokaverkefnið mitt í Vefforritun! </h3>
			<img src="/images/myndafmer.jpg" alt="Lísa" height="290" width="290" class="img-circle">

			<h4>wubba lubba dub dub!</h4>

			<div>
			 <h2>Inngangur</h2>

			 <p>
				Ég valdi að gera spjallborð sem lokaverkefni í Vefforritun, fyrst og fremst vegna þess að mér fannst verkefnið hafa raunhæfa notkunarmöguleika. Verkefnið er í grunninn einfalt og leyfir mér því að læra á nýja hluti sem voru bæði krefjandi og skemmtilegir, en munu jafnframt gagnast mér í framtíðinni.
			</p>

			<h2>Meginmál</h2>
			<h3><em>Framendi</em></h3>

			<p>
				Í framendann notaði ég EJS template engine. Það er einfalt sniðmátsmál með áherslu á frammistöðu. Það er með skýrt markup og því ekki hægt að hafa ljótan texta, eða vitlausa uppsetningu á kóða, málið einfaldlega leyfir það ekki.  Einnig er auðvelt að debugga í þessu templatei. 
			</p>

			<p>
				Bootstrap notaði ég svo til að útlit síðunnar sé skalanlegt. Þannig skiptir ekki máli stærð gluggans, upp kemur alltaf þægilegt og notendavæn uppsetning á vefsíðunni. Einnig hjálpar Bootstrap við að gera síðuna nothæfa í snjallsímum.
				Javascript notaði ég fyrir flestar takkaaðgerðir, eins og “svara”, “eyða” og þess háttar. Einnig kalla ég á bakendann með Javascript.
			</p>
			<h3><em>Bakendi</em></h3>
			<p>
				Allt verkefnið er unnið í Express framework. Ég setti upp Postgres og nota svo sequilize til að búa til módelin og tengjast gagnagrunninum, í staðinn fyrir að setja upp local storage, því þá getur notandinn ekki óvart eytt og/eða breytt hlutum með því t.d. að loka vafranum. PGAdmin notum ég svo til aðstoðar við gagnagrunninn, almennt viðhald og uppfærslu. Að lokum setti ég verkefnið upp á vefþjóninn Heroku með smá hjálp vinar míns því það gekk heldur betur erfiðlega hjá mér. 

			</p>
			<h2>Lokaorð</h2>
			<p>
				Verkefnið gekk almennt mjög vel. Ég hefði viljað meiri tíma fyrir það en það er soldið erfitt með lokaprófin handan við hornið. Það hefði verið gaman að fikta aðeins með þetta og gera útlitið skemmtilegra en meiri tími fór í bakendann og gagnagrunns tenginguna svo einhverju þurfti að fórna. Annars var þetta lærdómsríkt og skemmtilegt verkefni. 
			</p>
		</div> 
		<p><cite>Elísabet Ýr Sigurðardóttir, eys15@hi.is </cite></p>

<% include footer %>

